.login-body {

    font-family: sans-serif;
    background: url("../images/login.jpg");
  }
  .header-title{
    color: #fff200;
    position: absolute;
    background-color: rgba(88, 197, 173, 0.6);
    left: 50%;
    transform: translate(-50%, -10%);
    padding: 10px 40px 15px;
    box-shadow: 0 15px 25px rgba(27, 250, 164, 0.8);
  }

  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(252, 0, 0, 0.8);
  }

  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  .login-box .user-box {
    position: relative;
  }

  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }

  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }

  .login-box a span {
    position: absolute;
    display: block;
  }

  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }

  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }

  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }

  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

  .boxes-body{
      background: url("../images/boxes.jpeg");
      font-family: 'Inconsolata', monospace;
      font-weight:bold;
      -webkit-font-smoothing: antialiased;
    }

    .logout{
        margin-left: 80%;
        margin-top: 2%;
        width: 160px;
        height: 50px;
        cursor: pointer;
        font-size: 25px;
        background-color: red;
        color: aliceblue;
        border: none;

    }

    .logout:hover{
      box-shadow: 0 5px 40px rgba(255, 0, 0, 0.8);
      opacity: 0.9;
    }

    .box-name{
      font-size: 20px;
    }

    .box-wrap{
      display:flex;
      flex-wrap: wrap;
      align-items:center;
      justify-content:center;
      margin:5%;
    }
    .box{
      padding:30px;
      margin:10px;
      background:rgba(148, 217, 238, 0.6);
      min-width: 300px;
      height: 200px;
      font-size: 20px;
      font-family: 'Inconsolata', monospace;
      font-weight:bold;
      -webkit-font-smoothing: antialiased;
      color: #5e00ff;
      transition:.2s all;
      text-decoration: none;
      cursor: pointer;
      border: none;
    }

    .box:hover{
      transform:scale(1);
      background:rgb(148, 217, 238);
      box-shadow: 0 15px 25px rgba(27, 250, 164, 0.8);
    }

    .text-button{
      color:white;
      background:none;
      border:none;
      margin:0;
      padding:0;
      cursor: pointer;
    }

    .add-box{
      padding: 15px;
      margin:2%;
      background: rgba(26, 245, 128, 0.6);
      width: 300px;
      height: 200px;
      font-size: 20px;
      font-family: 'Inconsolata', monospace;
      font-weight:bold;
      -webkit-font-smoothing: antialiased;
      color: #5e00ff;
      transition:.2s all;

      border: none;
      text-align: center;
    }
    .add-box:hover{
      transform:scale(1);
      background:rgb(26, 245, 128);
      box-shadow: 0 15px 25px rgba(27, 250, 164, 0.8);
    }

    .new-box-text{
      margin-top: 5%;
      height: 20%;
      width: 80%;
      border-color: #5e00ff;
      font-size: 20px;
    color: #5e00ff;
    }

    .new-box-btn{
      margin-top: 10%;
      height: 20%;
      width: 60%;
      background: rgb(255, 242, 0);
       cursor: pointer;
      font-size: 20px;
      font-family: 'Inconsolata', monospace;
      font-weight:bold;
      -webkit-font-smoothing: antialiased;
      color: #5e00ff;
    }

    .new-switcher-text{
      height: 100%;
      width: 80%;
      border-color: #5e00ff;
      font-size: 20px;
     color: #5e00ff;
    }

    .new-switcher-btn{
      height: 60%;
      width: 60%;

      background: rgb(255, 242, 0);
       cursor: pointer;
      font-size: 100%;
      font-family: 'Inconsolata', monospace;
      font-weight:bold;
      -webkit-font-smoothing: antialiased;
      color: #5e00ff;
      border: none;
      border-radius: 10px;
      padding: 5px;

    }

    .new-switcher-btn:hover{
      box-shadow: 0 5px 10px rgb(244, 248, 4);
    }

    .new-switcher{
      border: none;
      background-color: chartreuse;
    }



    .new-switcher-tr{
      height: 60px;
      background-color: chartreuse;
    }

    .edit-btn{
      height: 40px;
      width: 200px;
      margin-top: 20px;
      margin-left: 60%;
      font-size: 20px;
      font-family: 'Inconsolata', monospace;
      font-weight:bold;
      -webkit-font-smoothing: antialiased;
      color: #e5ff00;
      cursor: pointer;
      background: #2331f7;
      border-radius: 10px;
      border: none;
    }

    .edit-btn:hover{
      box-shadow: 0 5px 10px rgba(26, 9, 177, 0.8);
    }
    .switchers-body{
      background-color: #3e94ec;
      font-family: "Roboto", helvetica, arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-rendering: optimizeLegibility;
  }

  .switchers-name{
      display: block;
      margin: auto;
      max-width: 600px;
      padding:5px;
      width: 100%;
      color: #fafafa;
     font-size: 30px;
     font-weight: 400;
     font-style:normal;
     font-family: "Roboto", helvetica, arial, sans-serif;
     text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
     text-transform:uppercase;
  }

  table{
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    margin: auto;
    max-width: 800px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
  }


  td{
      border-top: 1px solid #C1C3D1;
      border-bottom: 1px solid #C1C3D1;
      color: #000000;
      font-size:16px;
      font-weight:normal;
      text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    align-items: center;
  }

  th{
      color:#D5DDE5;;
      background:#1b1e24;
      border-bottom:4px solid #9ea7af;
      border-right: 1px solid #343a45;
      font-size:23px;
      font-weight: 100;
      padding:24px;
      text-align:left;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      vertical-align:middle;
  }

  th:first-child {
    border-top-left-radius:3px;
  }

  th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }

  tr{
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }

  tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  }

  tr:first-child {
    border-top:none;
  }

  tr:last-child{
    border-bottom:none;
    background: #63cb63;
  }

  tbody tr:nth-child(odd) td {
    background: #f3c9c9;
  }

  tr:nth-child(odd):hover td {
    background: #966151;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }

  td {
  background: #ee8282;
  padding:5px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
  }

  td:last-child {
    border-right: 0px;
  }

  .switch-on{
      background-color: rgb(0, 255, 21);
      padding: 10px;
  }

  .switch-off{
      background-color: red;
      padding: 10px;
  }

    /* Switch starts here */
    .rocker {
      display: inline-block;
      position: relative;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: #888;
      width: 7em;
      height: 4em;
      overflow: hidden;
      border-bottom: 0.5em solid #eee;
    }

    .rocker::before {
      content: "";
      position: absolute;
      top: 0.5em;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #999;
      border: 0.5em solid #eee;
      border-bottom: 0;
    }

    .rocker input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .switch-left,
    .switch-right {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5em;
      width: 3em;
      transition: 0.2s;
    }

    .switch-left {
      height: 2.4em;
      width: 2.75em;
      left: 0.85em;
      bottom: 0.4em;
      background-color: #ddd;
      transform: rotate(15deg) skewX(15deg);
    }

    .switch-right {
      right: 0.5em;
      bottom: 0;
      background-color: #bd5757;
      color: #fff;
    }

    .switch-left::before,
    .switch-right::before {
      content: "";
      position: absolute;
      width: 0.4em;
      height: 2.45em;
      bottom: -0.45em;
      background-color: #ccc;
      transform: skewY(-65deg);
    }

    .switch-left::before {
      left: -0.4em;
    }

    .switch-right::before {
      right: -0.375em;
      background-color: transparent;
      transform: skewY(65deg);
    }

    input:checked + .switch-left {
      background-color: #0084d0;
      color: #fff;
      bottom: 0px;
      left: 0.5em;
      height: 2.5em;
      width: 3em;
      transform: rotate(0deg) skewX(0deg);
    }

    input:checked + .switch-left::before {
      background-color: transparent;
      width: 3.0833em;
    }

    input:checked + .switch-left + .switch-right {
      background-color: #ddd;
      color: #888;
      bottom: 0.4em;
      right: 0.8em;
      height: 2.4em;
      width: 2.75em;
      transform: rotate(-15deg) skewX(-15deg);
    }

    input:checked + .switch-left + .switch-right::before {
      background-color: #ccc;
    }

    /* Keyboard Users */
    input:focus + .switch-left {
      color: #333;
    }

    input:checked:focus + .switch-left {
      color: #fff;
    }

    input:focus + .switch-left + .switch-right {
      color: #fff;
    }

    input:checked:focus + .switch-left + .switch-right {
      color: #333;
    }


  .go-back{
      background: red;
      text-decoration: none;
      margin-left: 5%;
      margin-top: 30px;
      width: 100%;
      height: 100%;
      color: white;
      font-size: 20px;
      text-align: center;
      padding: 5px;
  }

  .go-back:hover{
      box-shadow: 0 5px 40px rgba(255, 0, 0, 0.8);
      opacity: 0.9;
  }

  .check-btn{
      height: 90%;
      width: 90%;
      background-color: rgb(44, 168, 33);
      color: white;
      font-size: 100%;
      cursor: pointer;
      border-radius: 20%;
  }

  .check-btn:hover{
    box-shadow: 0 5px 40px rgba(93, 250, 2, 0.8);
  }


  .edit-table{
    width: 35%;
  }

  .switch-name-edit{
    height: 30px;
    width: 130%;
    font-size: 20px;
    color: #5e00ff;
  }

  .box-name-edit{
    height: 40px;
    width: 300px;
    font-size: 30px;
    color: rgba(7, 25, 225, 0.8);
  }

  .edit-switchers-name{
    margin-left: 40%;
  }

  .switch-delete-btn{
    height: 50%;
    width: 90%;
    font-size: 120%;
    background: red;
    cursor: pointer;
    text-align: center;
  }

  .btns-div{
    display: flex;
    flex-direction: row;
    margin-left: 40%;
  }

  .save-btn{
    height: 40px;
    width: 180px;
    background: green;
    color: white;
    cursor: pointer;
    font-size: 90%;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .edit-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .switch-name-edit-btn{
    height: 100%;
    width: 100%;
    font-size: 100%;
    background: #5dfa0f;
    cursor: pointer;
    text-align: center;
  }
  .delete-btn{
    height: 40px;
    width: 200px;
    background: red;
    color: white;
    cursor: pointer;
    margin-left: 10%;
    font-size: 120%;
    margin-top: 20px;
  }

  .save-btn:hover{
    box-shadow: 0 5px 40px rgb(93, 250, 15);
  }

  .delete-btn:hover{
    box-shadow: 0 5px 40px rgb(252, 0, 0);
  }