<html>
<head>
    <meta charSet="UTF-8">
    <title>Login</title>

    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/main.css')}}">
</head>
<body class="switchers-body">

    <h1 class="switchers-name">I სართული</h1>
    <table class="switches-table">
        <tr >
            <th>ოთახის ნომერი</th>
            <th>ჩამრთველი-გამომრთველი</th>
            <th>
                <input type="submit" class="check-btn" value="შემოწმება">
            </th>
          </tr>
        <tr>
            <td>I ოთახი</td>
            <td class="mid">
                <label class="rocker">
                    <input type="checkbox">
                    <span class="switch-left">On</span>
                    <span class="switch-right">Off</span>
                </label>
            </td>
            <td class="switch-on">
                ჩართულია
            </td>
        </tr>
        <tr>
            <td>II ოთახი</td>
            <td class="mid">
                <label class="rocker">
                    <input type="checkbox">
                    <span class="switch-left">On</span>
                    <span class="switch-right">Off</span>
                </label>
            </td>
            <td class="switch-off">
                გამორთულია
            </td>
        </tr>
        <tr>
            <td>III ოთახი</td>
            <td class="mid">
                <label class="rocker">
                    <input type="checkbox">
                    <span class="switch-left">On</span>
                    <span class="switch-right">Off</span>
                </label>
            </td>
            <td class="switch-off">
                გამორთულია
            </td>
        </tr>
        <tr>
            <td>IV ოთახი</td>
            <td class="mid">
                <label class="rocker">
                    <input type="checkbox">
                    <span class="switch-left">On</span>
                    <span class="switch-right">Off</span>
                </label>
            </td>
            <td class="switch-off">
                გამორთულია
            </td>
        </tr>
      </table>
      <a href="#" class="go-back" >უკან დაბრუნება</a>
</body>
</html>
