<html>
<head>
    <meta charSet="UTF-8">
    <title>Smart Switcher</title>

    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="switchers-body">
    <a href="/boxes" class="go-back" >უკან დაბრუნება</a>
    <h1 class="switchers-name">I სართული</h1>
    <table class="switches-table">
        <tr >
            <th>ოთახის ნომერი</th>
            <th>ჩამრთველი-გამომრთველი</th>
            <th>
                <input type="submit" class="check-btn" value="შემოწმება">
            </th>
          </tr>
        <tr>
            <td>I ოთახი</td>
            <td class="mid">
                <label class="rocker">
                    <input type="checkbox">
                    <span class="switch-left">On</span>
                    <span class="switch-right">Off</span>
                </label>
            </td>
            <td class="switch-on">
                ჩართულია
            </td>
        </tr>
        <tr>
            <td>II ოთახი</td>
            <td class="mid">
                <label class="rocker">
                    <input type="checkbox">
                    <span class="switch-left">On</span>
                    <span class="switch-right">Off</span>
                </label>
            </td>
            <td class="switch-off">
                გამორთულია
            </td>
        </tr>
        <tr>
            <td>III ოთახი</td>
            <td class="mid">
                <label class="rocker">
                    <input type="checkbox">
                    <span class="switch-left">On</span>
                    <span class="switch-right">Off</span>
                </label>
            </td>
            <td class="switch-off">
                გამორთულია
            </td>
        </tr>
        <tr>
            <td>IV ოთახი</td>
            <td class="mid">
                <label class="rocker">
                    <input type="checkbox">
                    <span class="switch-left">On</span>
                    <span class="switch-right">Off</span>
                </label>
            </td>
            <td class="switch-off">
                გამორთულია
            </td>
        </tr>
        <tr class="new-switcher-tr">
            <td class="new-switcher">ახალი ჩამრთველის სახელი:</td>
            <td class="new-switcher">
                <input type="text" class="new-switcher-text" value="">
            </td>
            <td class="new-switcher">
                <input type="submit" class="new-switcher-btn" value="დამატება">
            </td>
        </tr>
    </table>
    <form method="get" action="/edit">
        <input type="submit" value="რედაქტირება" class="edit-btn">
    </form>

</body>
</html>
