<html>
<head>
    <meta charSet="UTF-8">
    <title>Boxes</title>

      <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/main.css')}}">

</head>
<body class="boxes-body">

<form method="get" action="/logout">
    <input type="submit" class="logout" value="გასვლა">
</form>

<form method="get" action="/box">
        <div class="box-wrap">

             <input type="submit" value="სართული I" class="box">

            <a class="box" href="#">
                <p class="box-name">II სართული</p>
            </a>
            <a class="box" href="#">
                <p class="box-name">III სართული</p>
            </a>
            <a class="box" href="#">
                <p class="box-name">IV სართული</p>
            </a>
        </div>
    </form>
</body>
</html>
