<html>
<head>
    <meta charSet="UTF-8">
    <title>Smart Switcher</title>

    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="boxes-body">
<form method="post" action="/logs">
    <input type="submit" class="ui-button" value="ლოგები">
</form>
<form method="get" action="/logout">
    <input type="submit" class="logout" value="გასვლა">
</form>





    <div class="box-wrap">
        {%for num in range(data|length) %}
            <form method="post" action="/box">
                <input type="submit" value="{{data[num].description}}" class="box" name="{{num}}">
            </form>
        {%endfor%}
        <form action="/add_block" method="POST">
        <div class="add-box">
            <a class="new-box">ახალი ბლოკის სახელი:</a>
            <input type="text" class="new-box-text" name="description" value="">
            <input type="submit" class="new-box-btn" value="დამატება">
        </div>
        </form>
    </div>

</body>
</html>
