<html>
<head>
    <meta charSet="UTF-8">
    <title>Edit</title>

    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body class="switchers-body">
    <a href="/box" class="go-back" >უკან დაბრუნება</a>
    <h1 class="edit-switchers-name">
        <input type="text" value="I სართული" class="box-name-edit">
    </h1>
    <table class="edit-table">
        <tr>
            <td>
                <input type="text" value="I ოთახი" class="switch-name-edit">
            </td>
            <td>
                <input type="submit" value="წაშლა" class="switch-delete-btn">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" value="II ოთახი" class="switch-name-edit">
            </td>
            <td>
                <input type="submit" value="წაშლა" class="switch-delete-btn">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" value="III ოთახი" class="switch-name-edit">
            </td>
            <td>
                <input type="submit" value="წაშლა" class="switch-delete-btn">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" value="IV ოთახი" class="switch-name-edit">
            </td>
            <td>
                <input type="submit" value="წაშლა" class="switch-delete-btn">
            </td>
        </tr>
    </table>
    <div class="btns-div">
        <form method="get" action="/box">
            <input type="submit" value="შენახვა" class="save-btn">
        </form>
        <form method="get" action="/boxes">
            <input type="submit" value="ბლოკის წაშლა" class="delete-btn">
        </form>
    </div>
</body>
</html>
