<html>
<head>
    <meta charSet="UTF-8">
    <title>Edit</title>

    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body class="switchers-body">
<a href="/box" class="go-back" >უკან დაბრუნება</a>
<h1 class="edit-switchers-name">
    <form method="post" action="/update_box_name">
        <input type="text" value="{{data.description}}" class="box-name-edit" name="box_name">
        <input type="submit" value="შენახვა" class="save-btn">
        <input type="hidden" name="data2" value="{{data2}}">
    </form>
</h1>
<table class="edit-table">
    {%for num in range(data3|length) %}

        <tr>
            <td>
                <form method="post" action="/edit_switch_name" class="edit-div">
                    <div>
                        <input type="text" value="{{data3[num].name}}" class="switch-name-edit" name="new_name">
                        <input type="hidden" name="data2" value="{{data2}}">
                        <input type="hidden" name="index" value="{{num}}">
                    </div>
                    <div>
                        <input type="submit" class="switch-name-edit-btn" value="შენახვა">
                    </div>
                </form>
            </td>
            <td>
                <form method="post" action="/delete_switch">
                    <input type="submit" value="წაშლა" class="switch-delete-btn">
                    <input type="hidden" name="data2" value="{{data2}}">
                    <input type="hidden" name="index" value="{{num}}">
                </form>
            </td>
        </tr>
    {%endfor%}
</table>
<div class="btns-div">

    <form method="post" action="/delete_box">
        <input type="submit" value="ბლოკის წაშლა" class="delete-btn">
        <input type="hidden" name="data2" value="{{data2}}">
    </form>
</div>
</body>
</html>
