<html>
<head>
    <meta charSet="UTF-8">
    <title>Edit</title>

    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body class="switchers-body">
    <a href="/box" class="go-back" >უკან დაბრუნება</a>
    <h1 class="edit-switchers-name">
        <input type="text" value="{{data.description}}" class="box-name-edit">
    </h1>
    <table class="edit-table">
        {%for num in range(data3|length) %}
        <form method="post" action="/delete_switch">
            <tr>
                <td>
                    <input type="text" value="{{data3[num].name}}" class="switch-name-edit" name={{num}}>
                    <input type="hidden" name="data2" value="{{data2}}">
                </td>
                <td>
                    <input type="submit" value="წაშლა" class="switch-delete-btn">
                </td>
            </tr>
        </form>
        {%endfor%}
    </table>
    <div class="btns-div">
        <form method="get" action="/box">
            <input type="submit" value="შენახვა" class="save-btn">
        </form>
        <form method="post" action="/delete_box">
            <input type="submit" value="ბლოკის წაშლა" class="delete-btn">
            <input type="hidden" name="data2" value="{{data2}}">
        </form>
    </div>
</body>
</html>
