<html>
<head>
    <meta charSet="UTF-8">
    <title>Login</title>

  <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/main.css')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<body class="login-body">
<h1 class="header-title">ჯუნიორ პროექტი</h1>
<div class="login-box">
  <h2>შეიყვანეთ მონაცემები</h2>
  <form method="post" action="/boxes">
    <div class="user-box">
      <input type="text" name="username" required="">
      <label>მომხარებელი</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="">
      <label>პაროლი</label>
    </div>
      <a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
        <input type="submit" value="შესვლა" class="text-button">
      </a>
  </form>
</div>
</div>
</body>
</body>
</html>

<!--     let val = '{{data|tojson}}' ;
    const obj = JSON.parse(val);
    console.log(val);
    console.log(obj);
    for (let elem in obj) {
        document.write("key: " + elem);
        document.write(" : ");
        document.write("value: " + obj[elem]);
        document.writeln("</br>");
    } -->
