<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<header class="login-header">
    <h1 class="header-title"></h1>
</header>
    <body class="body">

        <div class="login">
          <form method="post">
            <input type="text" name="u" placeholder="Username" required="required" />
            <input type="password" name="p" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
            </form>
        </div>
    </body>
</body>
</html>